@import "../node_modules/picnic/picnic.min.css";

body {
  font-family: font118413;
  font-size: 20px;
}

#main-text {
	height: 150px;
}

#main-canvas {
	margin: 10px;
	max-width: 900px;
	max-height: 900px;
}

.main-div {
	max-width: 500px;
}

.miniprofile {
  border-radius: 50%;
  margin: 0 auto;
  width: 10%;
  padding-bottom: 10%;
}

.disclaimer {
	margin-top: -5px;
	max-width: 500px;
}